html {font-size:18px}
body {text-align:center}
.page {min-height:600px; text-align:left; padding:1%}
.warning {background-color:red; color:yellow; padding:1%;}
.warning a {color:yellow;}
.form-control {display:inline-block; width:auto}
label {display:inline-block; width: 30%; text-align:right}
form .row {margin:20px 0px 20px 0px}
.link {cursor:pointer; color:#0d6efd; font-style:normal; text-decoration:underline}

#header {height:140px; background-color:silver; cursor:pointer;
	background-image:url('../../images/header.jpg'); background-size: 100% 200px; background-repeat:no-repeat }
#fomenu {background-color:#655191; border-radius:8px;}
#popup {position:fixed; z-index:99; top:100px; left:100px; display:none;
  padding:10px; text-align:center; width:auto; height:auto;
  border-radius:5px;}
.popupError {background-color:red; color:white}
.popupSuccess {background-color:rgb(80, 156, 96); color:rgb(24, 16, 16)}
.popupSimple {background-color:silver; color:black;} 

.alert-infp img {width-max:50%}

.paginator {display:inline-block; list-style: none;}
.paginator li {margin-right:0px;}
.paginator a {display:inline-block; text-decoration:none; color:black; 
  margin:0px; width:100%; height:100%} 
.paginatorItem {display:inline-block; border-style:solid; border-width:1px; 
  width:32px; height:32px; text-align:center; margin:0px 2px 0px 0px; padding:0px;}
.actPaginatorItem {display:inline-block; border-style:solid; border-width:1px; 
    width:32px; height:32px; text-align:center; margin:0px 2px 0px 0px; padding:0px;
    background-color:silver}

.share a {display:inline-block; width:auto;
  background-color:blue; color:white; font-size:14px; font-weight:bolder; 
  border-radius:5px; padding:5px;}  
.share .icon {display:inline-block; background-color:white; color:blue;
  padding:1px 8px 1px 8px; border-radius:10px; margin:0px 5px 0px 0px}

.ck-editor__editable {
    min-height: 300px;
}
  
.filterForm {border-style:solid; border-width:1px; padding:0.5%; width:100%}
.filterForm form, .filterForm div {margin:0px}
.filterForm label {display:inline-block; width:25%; text-align:right; padding:0px 1% 0px 0px}
.filterForm button {margin-top:0px;}
.filterForm #filtercreator {width:180px}
.filterForm #filtercimke {width:180px}

.browserTable tr {padding:2px;}
.browserTable td {padding:5px; margin:2px; 
  border-style:solid; border-width:1px; border-color:silver;}

pre {line-height:15px; overflow:hidden; background-color:#f4e6e6; padding:5px;}
pre code {display:block; max-height:14px; padding:0px; margin:0px; line-height:14px;}

.grafikonTable {width:100%}
.gry {width:20%; height:50px}
.grx {width:7%}
#products .row {margin:0px 0px 0px  0px}
#products .id {width:60px}
#products .stock {width:200px}
#products .storage {width:60px}
#products .name {width:auto}
#products .tags {width:200px}
#products .buttons {width:auto}
#products .navbar-toggler, #products .navbar-toggler:hover {background-color:blue; color:white}

.stock-error {color:red}
.stock-warning {color:orange}
.stock-ok {color:green}
.stock-error svg,
.stock-warning svg,
.stock-ok svg {
  animation-name: pulsate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes pulsate {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


#footer {background-color:black; color:white; border-radius:8px;}
#footer a {text-decoration:none; color:white}

#scrolltotop {position:fixed; bottom:20px; right:30px; z-index:99; 
  padding:15px; background-color:#1a4d80; opacity:0.5; 
  font-size:18px; color:white;
  border-style:none; border-radius:4px;
  display:none
}

@media screen and (max-width: 992px) {
	#products th {display:none}
	#products td {display:block}
	#header, .header {height:40px}

  #events table {width:100%}
  #events th {display:none}
  #events tr {display:block; width:100%}
	#events td {display:block; width:100%}
	#events .header {height:40px}
  #events form {border-style:solid; border-width:1px; padding:5px}
  #events form .form-control {display:block}
  #events form label {width:auto; text-align:left}


}

@media print {
	.btn, #popup, #header, #mainmenuContainer, #footerContainer, #scrolltotop,
	#cookieContainer {display:none}
}

.keret {
  width: auto;  
  padding: 50px;
  border-radius:8px;
  border: 1px solid black;
}

 .ribbon-banner {
  display: table;
  width: auto;
  font-size: 24px;
  line-height: 1.1;
  position: relative;
  background: #1a4d80;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyOTI5MiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjODA4MDgwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTI5MjkyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1a4d80), color-stop(50%, #1a4d80), color-stop(100%, #1a4d80));
  background: -moz-linear-gradient(left, #1a4d80, #1a4d80, #1a4d80);
  background: -webkit-linear-gradient(left, #1a4d80, #1a4d80, #1a4d80);
  background: linear-gradient(to right, #1a4d80, #1a4d80, #1a4d80);
  color: #fff;
  text-align: center;
  padding: .3em 1em .3em;
  
  text-shadow: 0 1px 3px #1a4d80;
}
.ribbon-banner:before, .ribbon-banner:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.35em;
  border-width: 0.85em;
  
  border-color: #1a4d80;
  z-index: -1;
}
.ribbon-banner:before {
  left: -1em;
  border-right-width: 1.5em;
  border-left-width: 0.5em;
  border-left-color: transparent;
}
.ribbon-banner:after {
  right: -1em;
  border-left-width: 1.5em;
  border-right-width: 0.5em;
  border-right-color: transparent;
}
.ribbon-banner span:before,
.ribbon-banner span:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #1a4d80 transparent transparent transparent;
}
.ribbon-banner span:before {
  left: 0;
  border-width: 0.35em 0 0 1em;
}
.ribbon-banner span:after {
  right: 0;
  border-width: 0.35em 1em 0 0;
}

.blogHead {border-style:solid; border-width:1px; margin:3px; border-radius:8px;
  padding:3px; background-color:#f4e6e6; color:black; line-height:110%; max-height:250px; overflow:hidden; }
#blogList .blogBody {max-height:100px; overflow:hidden}  
.blogHead p, .blogBody p {margin-bottom:1px; padding:0px; line-height:110%; }
.blogHead a, .blogBody a {text-decoration:none; color:black}
.commentBody {border-style:solid; border-width:1px; margin:3px; border-radius:8px;
  padding:3px; background-color:transparent; color:black; line-height:110% }
.answerComment {margin-left:20px}

#order label {width:100%; text-align:right}
