<div class="alert alert-danger" v-if="errorMsg != ''"
	v-html="lng(errorMsg)"></div>
<div class="alert alert-success" v-if="successMsg != ''"
	v-html="lng(successMsg)"></div>

<div id="description">
	<div class="keret">
	<div class="row">
		<div class="col-md-4">
			<img alt="images/logo.png" style="width:100%; margin:10px">
		</div>  
		<div class="col-md-8">
			<p>
				<strong>Üdvözlünk az oldalunkon!</strong>
			</p>
			<p>
				Ez egy egyserű (de nagyszerű) web -es raktár kezelő program.
			</p>
			<ul>
				<li>
					Több féle keresési lehetőség,
				</li>
				<li>
					a tárolt holmik cimkékkel láthatóak el, egy holmi több cimkéhez is tartozhat, a cimkék fa szerzetbe rendezhetőek,
				</li>
				<li>
					a tárolt holmikhoz tudsz Qr kódot is generálni,
				</li>
				<li>
					a tárolt holmikhoz kép et is lehet feltölteni
					(okostelefonon közvetlenül a programból is készíthető a kép),
				</li>
				<li>
					az készlet változási eseményeit is lehet követni,
				</li>
				<li>
					a használt mértékegységeket, tároló helyeket is lehet definiálni,
				</li>
				<li>t
					tároló hely azonosító qr kód is nyomtatható,</li>
				<li>
					dokumentumokat tudsz az adott holmihoz feltölteni,
				</li>
				<li>
					cikkeket tudsz írni. 
				</li>
			</ul>
			<p>
				Reméljük hasznosnak találjátok a programott.
			</p>
		</div>
	</div>
	</div>
</div>	
